.sidenav{
    height: 68%;
    width: 12rem;
    position:fixed;
    top:70;
    left: 0;
    background-color:beige;
    overflow: hidden;
    padding-top: 2rem;
    z-index: 1;

}
.sidenav a{
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: underline;
    font-size: 2rem;
   display: block;

}

.sidenav a:hover{
    color: tomato;
}

